body{
  text-align: center;
}

.form-one{
  width: 50%;
  border: solid 1px cornsilk;
  background-color: rgb(52, 99, 187);
}

.size-field{
  vertical-align: bottom;
  width: 97%;
  background-color: cornflowerblue;
  margin: 3%;
  padding: 10px;
  border: solid 1px rgb(119, 128, 250);
}

.toppings-field{
  width: 97%;
  background-color: cornflowerblue;
  margin: 2%;
  padding: 10px;
  border: solid 1px rgb(119, 128, 250);
}